.visible.svelte-16c75q3{display:block !important}.menu_body.svelte-16c75q3{position:absolute;right:0px;display:none;width:260px;background:transparent;z-index:8;height:200px}
.card-container.svelte-1gipz1w{display:inline-block;margin:10px 5px}
.categories_box.svelte-1lm8gp6{border-bottom:1px solid #373737;display:flex;position:sticky;top:0px;z-index:8;background:#181818;padding:2.5px 10px}.card-display.svelte-1lm8gp6{display:flex;flex-wrap:wrap;justify-content:space-evenly}
